{% extends "login.html" %}
{% load static %}
{% block content %}

<div class="absolute inset-0 bg-black" style="background-image: url({% static 'img2.jfif' %});
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    ">
    <div class="sm:mx-auto sm:w-full sm:max-w-lg mt-10 bg-white rounded-lg shadow-lg px-8 py-6 md:px-10 md:py-8">
        <a href="https://innovacionsolarperu.com" target="_blank">
            <img class="mx-auto h-16 w-auto" src="https://i.ibb.co/k2WQrwx/logo2.webp" alt="InnovaciónSolarPerú">
        </a>
        <h2 class="mt-7 text-center text-3xl max-sm:text-2xl font-bold leading-9 tracking-tight text-gray-900">
            Contraseña restablecida
        </h2>    

        <p class="text-center mt-2 text-gray-700">
            Tu contraseña ha sido restablecida con éxito. Ahora puedes iniciar sesión con tu nueva contraseña.
        </p>
        <div class="px-3 mt-4">
            <a href="{% url 'login' %}" class="flex w-full justify-center rounded-md px-3 py-3 text-base font-semibold leading-6 text-white shadow-sm bg-gradient-to-r from-green-600 to-yellow-600 hover:bg-indigo-500">
                Volver a iniciar sesión
            </a>
        </div>
    </div>
</div>

{% endblock content %}
