{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="overflow-y-scroll bg-gray-200 pb-20 ml-64 p-4 h-full" id="ContentDashboard">
    {% include "Horarios/Form.html" %}
    {% if user.is_superuser %}
    <div class="flex gap-4 pl-3 mb-5">
        <button id="OpenFormHorario" class="align-middle select-none flex items-center gap-3 mt-3 text-center uppercase transition-all text-sm py-1 px-3 rounded-lg border border-gray-400 focus:ring focus:ring-gray-300 active:opacity-85" type="button" style="position: relative; overflow: hidden;">
            <i class='bx bx-purchase-tag-alt text-xl text-blue-900'></i>
            Agregar Horario
        </button>
    </div>
    {% endif %}
    <div class="p-3">
        <!-- Sección para mostrar empleados -->
        <div class="grid grid-cols-3 gap-4">
            {% for empleado in empleados %}
            <div class="bg-blue-100 border border-gray-300 hover:scale-105 transition-all duration-300 shadow-md rounded-lg p-4 cursor-pointer" onclick="location.href='{% url 'empleado_horarios' empleado.id %}'">
                <div class="flex justify-between items-center mb-4">
                    {% if empleado.picture %}
                    <img src="{{ empleado.picture.url }}{{ AZURE_SAS_TOKEN }}" alt="Foto de {{ empleado.nombre }} {{ empleado.apellido }}" class="w-16 h-16 rounded-full object-cover">
                    {% else %}
                    <img src="{% static 'noimage.png' %}" alt="Foto de {{ empleado.nombre }} {{ empleado.apellido }}" class="w-16 h-16 rounded-full object-cover">
                    {% endif %}
                    <div class="ml-4 ">
                        <h2 class="text-xl font-semibold">{{ empleado.nombre }} {{ empleado.apellido }}</h2>
                        <div class="flex justify-end">
                            <span class="text-gray-600 text-sm">{{ empleado.cargo }}</span>
                        </div>
                    </div>
                </div>
                <!-- Agrega más detalles del empleado si es necesario -->
            </div>
            {% empty %}
            <p>No hay empleados registrados.</p>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}

{% block script %}
    <script>
        function toggleForm(buttonId, formId, action) {
            document.getElementById(buttonId).addEventListener('click', function() {
                const form = document.getElementById(formId);
                form.classList[action]('hidden');
            });
        }
        toggleForm('OpenFormHorario', 'FormHorario', 'remove');
        toggleForm('CloseFormHorario', 'FormHorario', 'add');

        document.addEventListener('DOMContentLoaded', function() {
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has('show_form') && urlParams.get('show_form') === 'true') {
                const form = document.getElementById('FormHorario');
                if (form) {
                    form.classList.remove('hidden');
                }
            }
        });
    </script>
{% if messages %}
    {% for message in messages %}
    <script>
        Swal.fire({
            icon: 'success',
            title: 'Éxito',
            text: '{{ message }}',
        });
    </script>
    {% endfor %}
{% endif %}
{% endblock %}
