{% load static %}
<div class="flex gap-5 max-lg:flex-wrap">
    {% if user.is_superuser %}
    <button id="OpenFormCategoria" class="align-middle select-none flex items-center gap-3   text-center uppercase transition-all text-xs py-1 px-3 rounded-lg border border-gray-400  focus:ring focus:ring-gray-300 active:opacity-[0.85]" type="button" style="position: relative; overflow: hidden;">
        <i class='bx bx-purchase-tag-alt text-xl text-green-600'></i>
        Agregar Categoria
    </button>
    <button id="OpenFormCategoria2" class="align-middle select-none flex items-center gap-3   text-center uppercase transition-all text-xs py-1 px-3 rounded-lg border border-gray-400  focus:ring focus:ring-gray-300 active:opacity-[0.85]" type="button" style="position: relative; overflow: hidden;">
        <i class='bx bx-box text-xl text-green-600'></i>
        Agregar Producto
    </button>
    {% else %}
        <button disabled class="align-middle select-none flex items-center gap-3   text-center uppercase transition-all text-xs py-1 px-3 rounded-lg border border-gray-400 bg-gray-300 cursor-not-allowed" type="button" style="position: relative; overflow: hidden;">
            <i class='bx bx-purchase-tag-alt text-xl text-gray-500'></i>
            Agregar Categoria
        </button>
        <button disabled class="align-middle select-none flex items-center gap-3   text-center uppercase transition-all text-xs py-1 px-3 rounded-lg border border-gray-400 bg-gray-300 cursor-not-allowed" type="button" style="position: relative; overflow: hidden;">
            <i class='bx bx-box text-xl text-gray-500'></i>
            Agregar Producto
        </button>
    {% endif %}
    <a href="{% url "download_report" %}" class="align-middle select-none flex items-center gap-3   text-center uppercase transition-all text-xs py-1 px-3 rounded-lg border border-gray-400  focus:ring focus:ring-gray-300 active:opacity-[0.85]" type="button" style="position: relative; overflow: hidden;">
        <img src="{% static 'icons/excel.png' %}" class="w-6" alt="excelexport">
        Descargar reporte
    </a>
    <a href="{% url "Registrar_salida_view" %}" class="align-middle select-none flex items-center gap-3   text-center uppercase transition-all text-xs py-1 px-3 rounded-lg border border-gray-400  focus:ring focus:ring-gray-300 active:opacity-[0.85]" type="button" style="position: relative; overflow: hidden;">
        <i class='bx bx-log-out text-xl text-green-600'></i>
        Registrar Salida
    </a>
    <a href="{% url "Registrar_entrada_view" %}" class="align-middle select-none flex items-center gap-3   text-center uppercase transition-all text-xs py-1 px-3 rounded-lg border border-gray-400  focus:ring focus:ring-gray-300 active:opacity-[0.85]" type="button" style="position: relative; overflow: hidden;">
        <i class='bx bx-log-in-circle text-xl text-green-600'></i>
        Registrar Entrada
    </a>
</div>